.header {
    background-color: rgb(83, 83, 83);
    color: rgb(219, 32, 32);
    text-align: center;
}
body {
    background-color: rgb(165, 165, 165);
}
input {
    margin-bottom: 0px!important;
}
button {
    margin-bottom: 0px!important;
    background-color: red;
}